.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


input {
    /* width: 100%; */
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    /* width: 100%; */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

input[type="submit"]:hover {
    background-color: #338a37;
    
}